<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>One Stop Shop</title>
  </head>
  <style>
      .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
  </style>
  <body>
   <div class="jumbotron jumbotron-fluid justify-content-center" style="background-color:orange">
      <h1 class="display-3 text-center">Buy Products</h1>
       <div class="col-md-12 text-center">
        <a href="/cart" ><button class="btn btn-primary">VIEW CART</button></a>
    </div>
   </div>
<form method="POST" class="form-inline justify-content-center">
   <div class="container">
       <div class="row">
      {% for product in products%}
         <div class="col-lg-3">
          <div class="card">
              <div class="card-body">
            <img class="card-img-top" src="{{product['link']}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{product['title']}}</h5>
                <p class="card-text"> <small>{{product['description']}}</small></p>
                <p class="card-text"><small>Quantity:{{product['unit']}}</small></p>
                <p class="card-text"><small>Price:${{product['price']}}</small></p>
                <input type="text" class="form-control" name="{{product['_id']}}" placeholder="quantity">
                <input type="submit" class="btn btn-success" value="Add to cart">
            </div>
          </div>
          </div>
         </div>
               {%endfor%}
           </div>
          </div>
</form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>