<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>One Stop Shop</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid justify-content-center" style="background-color:orange">
      <h1 class="display-3 text-center">Your Cart</h1>
      <div class="col-md-12 text-center">
        <a href="/buyProducts" ><button class="btn btn-primary">GO BACK</button></a>
        <a href="/emptyCart" ><button class="btn btn-danger">EMPTY CART</button></a>
    </div>
    </div>
    <h3 class="text-center text-success bg-light">Your items:</h3>
  <div class="container">
    <table class="table">
      <thead>
      <th scope="col">Item name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Item total</thscope></th>
      </thead>
      <tbody>
      {%for p in cart_products%}
      <tr scope="row">
        <td>{{p['title']}}</td>
        <td>{{p['bought']}}</td>
        <td>${{p['price']}}</td>
        <td>${{p['item-total']}}</td>
      </tr>
      {%endfor%}
      <tr scope="row">
        <td>Total:${{totals}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 text-center">
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#BuyMessage">BUY</button>
    </div>
    <!-- Modal -->
<div class="modal fade" id="BuyMessage" tabindex="-1" role="dialog" aria-labelledby="Message" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thankyou for shopping with us!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your order will be shipped shortly.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>